<h1>How to Play</h1>
<p>Try to get to 10 points in 10 questions</p>
<p>If you choose the wrong answer, you lose 1 point</p>
<p>If you choose the right answer, you gain 1, 3, or 5 points depending on difficulty</p>
<p>If you skip a question you don't lose any points, but you lose the turn</p>
<%= link_to "Home", "/" %>
