<div id="instructions-index">

  <h1 class="center">How to Play</h1>
  <h3>Try to get to 10 points in 10 questions</h3>
  <h3>If you choose the wrong answer, you lose 1 point</h3>
  <h3>If you choose the right answer, you gain 1, 3, or 5 points depending on difficulty</h3>
  <h3>If you skip a question you don't lose any points, but you lose the turn</h3>
  <h3>(Your Score never drops below zero)</h3>
  <br>
  <%= link_to "Home", "/", id:"home-link", class:"nav-link" %>

</div>
