// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#game-index {
  text-align: center;
  h1 {
    font-family: 'Noto Sans', sans-serif;
    padding: 0em 5em 2em 5em;
  }
  #options {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }
  .option, #next-question {
    padding: 12px;
    border-radius: 50px;
    border: blue solid 2px;
    color: blue;
    transition: background 0.5s;
    transition: color 0.3s;
    font-size: 1.5em;
  }
  .option:hover, #next-question:hover {
    cursor: pointer;
    background: blue;
    border: transparent solid 2px;
    color: white;
  }
  #correct-answer {
    font-family: 'Open Sans', sans-serif;
    margin: 2em;
  }
}
